/* Bases */
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}

:root {
	--text-color: #293264;
	--button-color: #4d5b9e;
	--button-text-color: #f5f7fb;
	--button-answer-bg: #f5f7fb;
	--button-border: #4d5b9e;
}

#root {
	overflow: hidden;
}
/* App */

.app {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: var(--text-color);
	font-family: "Inter", sans-serif;
	padding: 0 10%;
}

#blob-lemon {
	position: fixed;
	max-width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
}

#blob-blue {
	position: fixed;
	max-width: 100%;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* Accueil  */

.accueil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.accueil h1 {
	font-family: "Karla", sans-serif;
	margin-bottom: 1rem;
}
.accueil p {
	margin-bottom: 1rem;
}

/* Quizz*/

.quizz {
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

hr {
	margin: 15px 0;
}

.answers {
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
}
/* Question */

.question h1 {
	font-family: "Karla", sans-serif;
}

/* Buttons */
button {
	border-radius: 10px;
	border: none;
	color: var(--text-color);
	font-family: "Inter", sans-serif;
}

.button-main {
	background: var(--button-color);
	color: var(--button-text-color);
	padding: 0.5rem 1rem;
	font-weight: 600;
}

.button-check {
	align-self: center;
}

.button-answer {
	padding: 0.5rem 0.7rem;
	border: 1px solid var(--button-border);
	background: none;
}
.clicked {
	background: #d6dbf5;
	border: none;
}
.good {
	background: #94d7a2;
	border: none;
}
.wrong {
	background: #f8bcbc;
	border: none;
}
.faded {
	opacity: 0.5;
}
.scoreCredit {
	display: flex;
	align-self: center;
	gap: 1rem;
}

.newQuizz {
	padding: 0.6rem 1rem;
}
